version: 2
jobs:
  build:
#   docker:
#     - image: microsoft/dotnet:2-sdk
#     
#   working_directory: ~/repo

#   steps:
#     - checkout
#     - run: dotnet restore
#     - run:
#         name: Buidl
#         command: dotnet build
# docker-image:
    machine: true
    steps:
      - checkout
      - run:
          name: docker-image
          command: |
            TAG=latest
            IMAGE=Lab2
            docker build -t $IMAGE:$TAG .
            docker login $DOCKER_REGISTRY -u $DOCKER_REGISTRY_USER -p $DOCKER_REGISTRY_PASSWORD
            docker tag $IMAGE:$TAG $DOCKER_REGISTRY/$IMAGE:$TAG
            docker push $DOCKER_REGISTRY/$IMAGE:$TAG
